@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
	margin: 0;
	padding: 0;
}
html{
    height: 100%;
    overflow-x: hidden;
}
/*NAVIGATION*/
/*****************/
/*****************/
/*****************/
/*****************/
/*****************/
#navigation-admin a{

    color:black;
}

/*ADMINISTRATOR PAGE*/
/*****************/
/*****************/
/*****************/
/*****************/
/*****************/
#list-page{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
#news-page-admin a, #living-room-page-admin a, #bathroom-page-admin a, #bedroom-page-admin a, #kitchen-page-admin a{
    text-decoration:none;
    color:black;
    font-size: 24px;
    padding: 10px;
    width: 100%;
}
#news-page-admin:hover, #living-room-page-admin:hover, #bathroom-page-admin:hover, #bedroom-page-admin:hover, #kitchen-page-admin:hover{
    background:linear-gradient(to right,#6cb2eb,#ffff);
}
#news-page-admin, #living-room-page-admin, #bathroom-page-admin, #bedroom-page-admin, #kitchen-page-admin{
    width:80%; 
    margin-bottom: 10px;
}

/*NEWS PAGE*/
/*****************/
/*****************/
/*****************/
/*****************/
/*****************/

.hr hr{
    width: 80%;
    border:0.5px black solid;
}
.hr{
    display:flex;
    align-items: center;
    justify-content: center;
}
#item-h{
    text-align: center;
    color:black;
}

/*PRODUCT PAGE*/
/*****************/
/*****************/
/*****************/
/*****************/
/*****************/
#categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#manufacturer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
