@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
	margin: 0;
	padding: 0;
}
html{
    height: 100%;
    overflow-x: hidden;
}
/*NAVIGATION*/
/*****************/
/*****************/
/*****************/
/*****************/
/*****************/
#navigation-admin a{

    color:black;
}

/*ADMINISTRATOR PAGE*/
/*****************/
/*****************/
/*****************/
/*****************/
/*****************/
#list-page{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
#news-page-admin a, #gallery-page-admin a{
    text-decoration:none;
    color:black;
    font-size: 24px;
    padding: 10px;
    width: 100%;
}
#news-page-admin:hover, #gallery-page-admin:hover{
    background:linear-gradient(to right,#79c7c6,#ffff);
}
#news-page-admin, #gallery-page-admin {
    width:80%; 
    margin-bottom: 10px;
}

/*NEWS PAGE*/
/*****************/
/*****************/
/*****************/
/*****************/
/*****************/

.hr hr{
    width: 80%;
    border:0.5px black solid;
}
.hr{
    display:flex;
    align-items: center;
    justify-content: center;
}
#item-h{
    text-align: center;
    color:black;
}





.scrollup {
    position: fixed; /* фиксированная позиция */
    color: #ffff; /* цвет текста */
    background-color: #ed0f80 ; /* цвет заднего фона */
    right: 20px; /* расстояние от правого края */
    bottom: 0px; /* расстояние от нижнего края */
    padding: 8px 10px; /* отступы до содержимого блока */
    font-size: 20px; /* размер шрифта (иконки) */
    border-top-left-radius: 4px; /* скругление верхнего левого угла */
    border-top-right-radius: 4px; /* скругление верхнего правого угла */
    cursor: pointer; /* форма курсора */
    display: none; /* не отображать элемент */
    text-align: center; /*выравнивание содержимого элемента по центру */
    height: 50px;
  }