@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
	margin: 0;
	padding: 0;
}
html{
    height: 100%;
    overflow-x: hidden;
}
#item-h{
    text-align: center;
    color:black;
}
/*MAIN PAGE*/
/*HEADER*/
/**********/
/**********/
/**********/
/**********/
.navigation a{
    text-decoration: none;
    color: white;
    font-size:16px;
}
#cart-container{
    margin-left: 80%;
}
.carousel-container{
    margin-bottom: 15px;
    height: 75vh;
}


/*IMAGE MENU*/
/**********/
/**********/
/**********/
/**********/
#rooms{
    margin-right:0;
    margin-left:0;
}
#room-container{
   padding-left:0;
   padding-right: 0;
   padding-top:10px;
}
#img{
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#room:hover{
    transition:5s;
    transform:scale(1.2);
    display: flex;
}
#kitchen, #living-room, #bedroom, #bathroom{
    width: 50%;

}
#text-living-room h3{
    margin-left:3%;
}
#img img{
    width:100%;
}
/*FOOTER*/
/**********/
/**********/
/**********/
/**********/
footer{
    width: 100%;
    height: 50px;
    background-color: #212529;
}

/*CONTACT-PAGE*/
/**********/
/**********/
/**********/
/**********/
#social-container{
    width:100%;
    padding: 10px;
}
#social{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
#social a{
    text-decoration:none;
    color:black;
    font-size:16px;
}
#map-container{
    padding: 10px;
}
#call-back-container{
    background-image: url(../image/brick.jpg);
    margin-bottom:1%;
    text-align: center;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
#call-back{
    padding:15px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}
#label-form{
    font-size:20px;
    color:black;
    font-style: bold;
}
#input-form{
    border-radius:0%;
    border:0.5px black solid; 
}

/*NEWS PAGE*/
/**********/
/**********/
/**********/
/**********/
#parallax-container{
    width: 100%;
}
.my-parallax{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45vh;
}
#pagination-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.page-item.active .page-link{
    background-color:black;
    border-color: black;
}
#text-news{
    text-align: left;
}
.en{
    width:100%;
    text-align: center;
}
#text-container{
    width: 100%;
}

/*ABOUT US PAGE*/
/**********/
/**********/
/**********/
/**********/
#about-us-box{
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#item-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: black;
    font-size: 15px;
    max-width: 80%;
}
.hr-in-text {
    width: 75%;
   background-color:black;
   height: 0.5px;
}
.hr hr{
    width: 80%;
    border:0.5px black solid;
}
.hr{
    display:flex;
    align-items: center;
    justify-content: center;
}

#text-about p{
    padding: 30px;
}
#text-about{
    margin-top: 5%;
    background-repeat: no-repeat;
    background-size: contain;
   /* background-image: url(../image/picture.jpg);*/
}
#reviews-container{
    width:100%;
    height: 550px;
    background-image: url(../image/mramor.jpg);
    margin-bottom:1%;
    text-align: center;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#reviews-container-comment{
    width:100%;
    height: 400px;
    background-image: url(../image/mramor.jpg);
    margin-bottom:1%;
    text-align: center;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#reviews-form{
    width: 80%;
}
#send-review-btn{
    width: 80%;
    border:0.5px black solid;
    color:white;
    background-color: black;
}
#send-review-btn:hover{
    border:0.5px black solid;
    color:black;
    background-color: white;
}
#comment-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
#comment{
    padding: 2%;
}

/*LIVNG ROOM PAGE*/
/**********/
/**********/
/**********/
/**********/

#categories-container{
    padding:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sort-button{
    width: 300px;
    margin:10px;
}
#text-categories{
    padding-top:10%;
    padding-bottom:3%;
    margin:0;
}
#radio-option-categories{
    display:flex;
    flex-direction: column;
    padding: 10px;
    font-size: 16px;
}
#card-footer-container{
    text-align: center;
}
#price-label{
    font-size: 30px;
    padding: 5px;
}
#price{
    font-size: 30px;
    color:green;
    padding: 5px;
}
#go-cart-btn{
    width: 200px;
}

/*PRODUCTS*/
/**********/
/**********/
/**********/
/**********/
#myCard{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#card-container{
    margin:3%;
}
.my-parallax-prod{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    margin-bottom: 15px;
}